.Ag-grid-container {
  height: 90vh;
  width: 90%;
  margin: auto;
  align-items: center;
  position: relative;
}

.thumbnail {
  width: 50px;
  height: 30px;
  object-fit: cover;
  border-radius: 4px;
  vertical-align: middle;
}

#quickFilter {
  width: 25%;
  padding: 8px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.theme-toggler {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
}

.Ag-grid-container input[type="checkbox"] {
  appearance: none;
  width: 44px;
  height: 24px;
  background: #e0e0e0;
  border-radius: 12px;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: background 0.3s;
  margin-right: 10px;
  vertical-align: middle;
}

.Ag-grid-container input[type="checkbox"]:checked {
  background: #333;
}

.Ag-grid-container input[type="checkbox"]::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.Ag-grid-container input[type="checkbox"]:checked::before {
  transform: translateX(20px);
  background: #ffd700;
}

.Ag-grid-container label {
  font-size: 1rem;
  color: #444;
  vertical-align: middle;
  margin-right: 16px;
  user-select: none;
  font-weight: 500;
  letter-spacing: 0.5px;
}


.ag-paging-panel {
  width: 100%;
}

button {
  font-family: inherit;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.btn-export {
  background-color: #007bff;
  color: white;
}

.btn-export:hover {
  background-color: #0056b3;
}

.btn-export:active {
  background-color: #003f7f;
}

.btn-mass-edit {
  background-color: #28a745;
  color: white;
  margin-left: 10px;
}

.btn-mass-edit:hover {
  background-color: #218838;
}

.btn-mass-edit:active {
  background-color: #1e7e34;
}

.btn-mass-edit:disabled {
  background-color: #6c757d;
  color: #e9ecef;
  cursor: not-allowed;
}


@media (max-width: 550px) {
  * {
    font-size: 12px !important;
  }

  .ag-paging-panel {
    justify-content: space-around;
    gap: 0 !important;
  }

  #quickFilter {
    width: 100%;
  }

  .ag-paging-page-summary-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: var(--ag-pagination-panel-height);
    padding: 0;
    border-top: none;
    gap: 0 !important;
  }
}

@media (max-width: 440px) {
  * {
    font-size: 10px !important;
  }
}